*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 65% auto;
    column-gap: 10px;
}

.navbar{
    height:70px;
    margin-bottom: 10px;
}

.nav{
    display:inline-block;
    margin-left: 1000px;
    margin-top: 25px;
}

.nav-item{
    margin: 30px;
    font-size: 17px ;
}

.nav-item:hover{
    font-size: 18px;
    font-weight:400;
    cursor: pointer;
    color: rgb(6, 6, 62);
}

.container1{
    height: 660px;
    background-color: #bcc3e3;
}

.container2{
    background-color: rgb(225, 205, 236);
}

.search{
    margin: 26%;
}

.searchbar{
    border-radius: 5px;
    padding: 10px 20px;
}

.img{
    float: right;
}